/* font css ⇩ ⇩ ⇩  */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-body-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* shared css ⇩ ⇩ ⇩  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.text-dark {
    color: #131313;
}

.text-gray {
    color: #424242;
}

.text-light-gray {
    color: #727272;
}

.text-primary {
    color: #FF900E;
}

header,
footer {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #e07b0c;
}

main>section {
    margin: 120px 0;
}

.text-tittle {
    font-size: 3.5rem;
    font-weight: 600;
    max-width: 468px;
}

.text-secondary {
    font-size: 1rem;
    font-weight: 400;
    margin: 25px 0;
    max-width: 570px;
}



/* Nav Css ⇩ ⇩ ⇩  */
.nav-main {
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.nav-left {
    font-size: 2.8rem;
    font-weight: 700;
}

.nav-right {
    display: flex;
}

.nav-item {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 1rem;
    padding: 0.5rem;
    transition: background-color 0.3s ease;
}

.nav-item:hover {
    background-color: #e07b0c;
}


/* Banner Css ⇩ ⇩ ⇩  */

.banner-main {
    padding: 50px 0;
}

.banner {
    text-align: center;
    max-width: 868px;
    margin: 0 auto;
}

.banner-header {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.banner-details {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 34px;
}

.banner-image {
    width: 100%;
    margin-top: 24px;
    border-radius: 8px;
}

/* team css ⇩ ⇩ ⇩ */
.teams-section {
    gap: 72px;
    align-items: center;
    justify-content: center;
}

.teams-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.teams-descriptions {
    max-width: 530px;
}

.tittle-medium {
    font-weight: 400;
}


/* features section css ⇩ ⇩ ⇩ */
.features-section {
    gap: 142px;
    justify-content: space-between;
}

.feature-card {
    max-width: 586px;
    box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px 40px 30px 30px;
    margin-top: 20px;
}

.card-tittle {
    font-size: 1.5rem;
    font-weight: 600;
}

.features-section .text-tittle {
    border-left: 5px solid #FF900E;
    padding: 10px;
}

.feature-card .text-secondary {
    margin: 10px 0 0;
}

.features-image img {
    width: 100%;
}

.img-header {
    width: 340px;
    height: 200px;
    background: #FF900E;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -100px;
    margin-left: -100px;
    border: none;
}

.feacure-img-headding {
    font-size: 4rem;
    font-weight: 600;
    color: #FFFFFF;
}

.feacure-img-sub {
    font-size: 1.8rem;
    font-weight: 400;
    color: #FFFFFF;
}


/* fact-section Css ⇩ ⇩ ⇩  */

.fact-cards-parents {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 125px;
    margin-top: 100px;
    justify-content: center;
}

.fact-card {
    width: 240px;
    height: 240px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fact-card-header {
    margin: 10px 0 5px;
}

.fact-card-drt {
    font-size: 1.5rem;
    font-weight: 600;
}

/* Sponsor section css ⇩ ⇩ ⇩  */
.sponsor-section {
    text-align: center;
}

.sponsor-section .text-tittle {
    margin: 0 auto;
}

.sponsor-section .text-secondary {
    margin: 0 auto 50px;

}

.sponsor-images img {
    margin: 0 40px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.sponsor-images img:hover {
    filter: grayscale(0%);
}


/* footer css */

footer {
    padding: 30px 0;
}

footer .text-secondary {
    margin: 0 auto;
    text-align: center;
}

/* ------------------------------------ */
/* Responsive Css (Mid-device) ⇩ ⇩ ⇩  */

@media (min-width: 769px) and (max-width: 1024px) {

    main,
    header {
        padding: 0 30px;
    }

    .nav-main {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-left {
        font-size: 2.6rem;
    }

    .nav-item {
        font-size: 1rem;
        margin: 0 0.5rem;
    }

    .banner-header {
        font-size: 3.2rem;
    }

    .banner-details {
        font-size: 1.1rem;
    }

    .teams-section {
        flex-direction: column-reverse;
        align-items: center;
    }

    .fact-cards-parents {
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
        margin-top: 100px;
        justify-content: center;
    }
}




/* Responsive Css (small-device) ⇩ ⇩ ⇩  */
@media (max-width: 768px) {

    main {
        padding: 0 20px;
    }

    .nav-main {
        flex-direction: column;
        align-items: center;
    }

    .nav-left {
        font-size: 2.4rem;
    }

    .nav-item {
        font-size: 0.9rem;
        margin: 0.5rem 0;
    }

    .banner-header {
        font-size: 2.8rem;
    }

    .banner-details {
        font-size: 1rem;
    }

    .banner-image {
        width: 100%;
        height: auto;
    }

    .teams-section {
        flex-direction: column-reverse;

        align-items: center;
    }

    .teams-images {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .features-section {
        flex-direction: column;
        align-items: center;
    }

    .img-header {
        margin: 20px auto;
    }

    .fact-cards-parents {
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
        margin-top: 100px;
        justify-items: center;
    }

    .sponsor-images img {
        margin-top: 30px;
    }

}